@import "slick-less"
@import "jquery-ui"

=b_a()
  content: ''
  position: absolute

=m_a()
  top: 0
  right: 0
  bottom: 0
  left: 0
  margin: auto

=flex()
  display: flex
  display: -webkit-flex

=j-center()
  justify-content: center
  -webkit-justify-content: center

=j-beetween()
  justify-content: space-between
  -webkit-justify-content: space-between

=j-space-around()
  justify-content: space-around
  -webkit-justify-content: space-around

=j-end()
  justify-content: flex-end
  -webkit-justify-content: flex-end

=j-start()
  justify-content: flex-start
  -webkit-justify-content: flex-start

=ai-center()
  align-items: center
  -webkit-align-items: center

=ai-start()
  align-items: flex-start
  -webkit-align-items: flex-start

=ai-end()
  align-items: flex-end
  -webkit-align-items: flex-end

=as-center()
  align-self: center
  -webkit-align-self: center

=as-end()
  align-self: flex-end
  -webkit-align-self: flex-end

=as-start()
  align-self: flex-start
  -webkit-align-self: flex-start

=wrap()
  flex-wrap: wrap
  -webkit-flex-wrap: wrap

=col()
  flex-direction: column
  -webkit-flex-direction: column

=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  border-radius: $radius

=box-shadow($box-shadow)
  -webkit-box-shadow: $box-shadow
  -moz-box-shadow: $box-shadow
  box-shadow: $box-shadow

=transform($transform)
  transform: $transform
  -webkit-transform: $transform
  -moz-transform: $transform
  -ms-transform: $transform
  -o-transform: $transform

=transition($transition_default)
  transition: $transition_default
  -webkit-transition: $transition_default
  -moz-transition: $transition_default
  -o-transition: $transition_default
$transition_default: .3s linear


@font-face
  font-family: 'Montserrat-Light'
  src: url('../fonts/Montserrat-Light.eot')
  src: local('Montserrat Light'), local('Montserrat-Light'), url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Light.woff') format('woff'), url('../fonts/Montserrat-Light.ttf') format('truetype')
  font-weight: 300
  font-style: normal

$light: 'Montserrat-Light'

@font-face
  font-family: 'Montserrat-SemiBold'
  src: url('../fonts/Montserrat-SemiBold.eot')
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-SemiBold.woff') format('woff'), url('../fonts/Montserrat-SemiBold.ttf') format('truetype')
  font-weight: 600
  font-style: normal
$semibold: 'Montserrat-SemiBold'

@font-face
  font-family: 'Montserrat-Bold'
  src: url('../fonts/Montserrat-Bold.eot')
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf') format('truetype')
  font-weight: bold
  font-style: normal
$bold: 'Montserrat-Bold'

@font-face
  font-family: 'Montserrat-Regular'
  src: url('../fonts/Montserrat-Regular.eot')
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal
$reg: 'Montserrat-Regular'

@font-face
  font-family: 'Montserrat-Medium'
  src: url('../fonts/Montserrat-Medium.eot')
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Medium.woff') format('woff'), url('../fonts/Montserrat-Medium.ttf') format('truetype')
  font-weight: 500
  font-style: normal
$medium: 'Montserrat-Medium'

@font-face
  font-family: 'Montserrat-ExtraBold'
  src: url('../fonts/Montserrat-ExtraBold.eot')
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url('../fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-ExtraBold.woff') format('woff'), url('../fonts/Montserrat-ExtraBold.ttf') format('truetype')
  font-weight: 800
  font-style: normal
$extrabold: 'Montserrat-ExtraBold'

@font-face
  font-family: 'Montserrat-Black'
  src: url('../fonts/Montserrat-Black.eot')
  src: local('Montserrat Black'), local('Montserrat-Black'), url('../fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Black.woff') format('woff'), url('../fonts/Montserrat-Black.ttf') format('truetype')
  font-weight: 900
  font-style: normal
$f_blak: 'Montserrat-Black'

$green: #A4CF5E
$red: #E67F1E
$orange: #FFAF13
$text_grey: #868686
$text_black: #333333


/*********************************/

a, button
  +transition($transition_default)

a
  text-decoration: none

  &:hover, &:focus
    text-decoration: underline

button, input, .form_control
  outline: none

.form_control
  &:hover, &:focus
    box-shadow: none
    outline: none


button
  cursor: pointer
  &:hover, &:focus
    +box-shadow(none)
    outline: none


img, video
  max-width: 100%
*
  outline: none

*, *::before, *::after
  box-sizing: border-box

ul
  padding: 0
  margin: 0
  li
    list-style: none




.container
  width: 100%
  max-width: 1375px
  padding-right: 15px
  padding-left: 15px
  margin-right: auto
  margin-left: auto


body
  margin: 0
  padding: 0
  background: #fff
  color: $text_black
  font-size: 14px
  line-height: 22px
  font-family: $medium


h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5
  font-family: $semibold
  color: #333
h1, .h1
  font-size: 26px
  line-height: 32px
  @media (max-width: 1200px)
    font-size: 25px
    line-height: 1.2
  @media (max-width: 991px)
    font-size: 23px
  @media (max-width: 767px)
    font-size: 20px
  @media (max-width: 575px)
    font-size: 18px


h2, .h2
  font-size: 25px
  line-height: 30px
  @media (max-width: 1200px)
    font-size: 24px
    line-height: 1.2
  @media (max-width: 991px)
    font-size: 21px
  @media (max-width: 767px)
    font-size: 20px
  @media (max-width: 575px)
    font-size: 18px

h3, .h3, h4, .h4, h5, .h5
  font-size: 24px
  line-height: 28px
  @media (max-width: 1200px)
    font-size: 23px
    line-height: 1.2
  @media (max-width: 991px)
    font-size: 20px
  @media (max-width: 767px)
    font-size: 18px
  @media (max-width: 575px)
    font-size: 16px




header
  background: #B4C322




.history_orders
  a
    +flex
    +ai-center
    color: #333
    text-decoration: none
    font-size: 14px
    font-family: $medium
    line-height: 1.2
    svg, img
      margin-right: 15px
    &:hover, &:focus
      text-decoration: none
      svg

        *
          fill: $red
      .text
        color: $red
        border-bottom: 2px dashed $red

    .text
      display: inline-block
      border-bottom: 2px dashed #333333


.dropdown_toggle
  background: none
  border: 0
  padding: 0



.currency
  +flex
  +ai-center
  position: relative
  @media (min-width: 992px)
    z-index: 999
  > span
    +flex
    margin-right: 15px

  .currency_list
    .currency_current
      +flex
      +ai-center
      position: relative
      padding-right: 20px
      &.act
        &:before
          //+transform(rotate(180deg))
      &:before
        +b_a
        right: 0
        top: 0
        bottom: 0
        margin: auto
        width: 10px
        height: 6px
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L5 5L9 1' stroke='%23333333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")
      picture
        +flex
        margin-right: 10px






.dropdown_menu
  display: none
  position: absolute
  top: calc(100%  + 10px)
  right: 0
  min-width: 300px
  background: #fff
  z-index: 99
  box-shadow: 0 3px 25px rgba(51, 51, 51, 0.12)
  border-radius: 16px
  padding: 20px
  &.open
    display: block


.currency_item
  position: relative
  margin-bottom: 12px
  &:last-child
    margin-bottom: 0
  input
    position: absolute
    opacity: 0
    &:checked
      + label
        &:before
          border: 2px solid $orange

        &:after
          opacity: 1
    + label
      position: relative
      +flex
      +ai-center
      padding-right: 30px
      cursor: pointer
      &:before
        +b_a
        right: 0
        top: 0
        bottom: 0
        margin: auto
        width: 20px
        height: 20px
        border-radius: 50%
        border: 2px solid #D5D8DC
      &:after
        +b_a
        right: 4px
        top: 0
        bottom: 0
        margin: auto
        width: 12px
        height: 12px
        background: $orange
        border-radius: 50%
        opacity: 0
      picture
        +flex
        margin-right: 10px
      .text
        color: $text_black
        font-size: 16px
        text-transform: uppercase
        font-family: $medium
        span
          display: block
          font-size: 12px
          color: $text_grey
          text-transform: initial



.h_bottom_row
  +flex
  +ai-center
  +j-beetween
  padding: 0 0 20px
  @media (max-width: 991px)
    padding: 0


.main_menu
  @media (max-width: 991px)
    position: fixed
    top: 0
    right: 0
    left: 0
    bottom: 0
    width: 100%
    height: 100%
    overflow: auto
    background: #fff
    z-index: 9999
    padding-top: 70px
    +transition($transition_default)
    opacity: 0
    +transform(translateX(100%))
    &.open
      opacity: 1
      +transform(translateX(0))


  .mm_close
    @media (min-width: 992px)
      display: none

    position: absolute
    top: 25px
    left: 15px
    cursor: pointer



  .nav
    +flex
    +wrap
    +ai-center
    background: #fff
    @media (min-width: 992px)
      box-shadow: 1px 1px 25px rgba(121, 154, 67, 0.5)
      border-radius: 30px
      padding: 0 22px
    @media (max-width: 1400px)
      padding: 0 15px
    @media (max-width: 1100px)
      padding: 0 8px
    @media (max-width: 991px)
      padding: 10px 0


    li
      padding: 0 22px
      @media (max-width: 1400px)
        padding: 0 15px
      @media (max-width: 1100px)
        padding: 0 8px
      @media (max-width: 991px)
        width: 100%
      a
        display: inline-block
        padding: 14px 0
        text-decoration: none
        position: relative
        color: #333
        @media (max-width: 991px)
          font-family: $semibold
          font-size: 18px


        &:before
          +b_a
          bottom: 0
          left: 0
          width: 100%
          height: 3px
          border-radius: 2px
          background: $orange
          +transition($transition_default)
          opacity: 0

        &:hover, &:focus, &.active
          &:before
            opacity: 1


.mm_toggler
  cursor: pointer

.mm_header
  border-top: 1px solid #D6D8DC
  border-bottom: 1px solid #D6D8DC
  height: 50px
  +flex
  +ai-center
  padding-left: 15px
  @media (min-width: 992px)
    display: none

.mm_account
  +flex
  +ai-center
  picture
    display: inline-block
    margin-right: 15px


.mm_footer
  border-top: 1px solid #D6D8DC
  padding: 30px 15px
  @media (min-width: 992px)
    display: none
  .history_orders
    margin-bottom: 30px
  .currency_list
    width: 100%
    .currency_current
      +flex
      &:before
        width: 8px
        height: 14px
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 13L7 7L1 0.999999' stroke='%23868686' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")


.mm_slide
  position: fixed
  z-index: 2
  top: 0
  left: 0
  width: 100%
  height: 100%
  +transition($transition_default)
  +transform(translateX(100%))
  opacity: 0
  background: #fff
  overflow: auto
  padding-top: 70px
  &.active
    opacity: 1
    +transform(translateX(0))
  .mm_slide_body
    padding: 30px 15px
    border-top: 1px solid #D6D8DC
  .back
    position: absolute
    top: 24px
    left: 15px
    cursor: pointer




.m_right
  +flex
  +ai-center
  .account
    margin-right: 30px
    @media (max-width: 1200px)
      margin-right: 20px
    @media (max-width: 1100px)
      margin-right: 10px




.icon
  width: 50px
  height: 50px
  +border-radius(50%)
  background: #FFFFFF
  box-shadow: 1px 0 12px rgba(121, 154, 67, 0.5)
  +flex
  +ai-center
  +j-center

.cart
  position: relative
  cursor: pointer
  text-decoration: none
  &:hover, &:focus
    text-decoration: none
  .count
    position: absolute
    top: 0
    right: -7px
    box-shadow: 0 0 3px rgba(215, 150, 25, 0.5)
    background: $orange
    width: 20px
    height: 20px
    border-radius: 50%
    +flex
    +ai-center
    +j-center
    color: #fff
    font-size: 12px
    font-family: $medium

.account_menu
  position: relative
  .dropdown_toggle
    position: relative
    padding-right: 18px
    &:before
      +b_a
      right: 0
      top: 0
      bottom: 0
      margin: auto
      width: 10px
      height: 6px
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L5 5L9 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")


.mm_btn
  width: 35px
  height: 24px
  +flex
  .hamburger
    width: 35px
    height: 24px
    background: none
    border: 0
    padding: 0
    position: relative
    span
      position: absolute
      left: 0
      width: 100%
      height: 3px
      border-radius: 2px
      background: #fff
      &:nth-child(1)
        top: 0
      &:nth-child(2)
        top: 0
        bottom: 0
        margin: auto
        max-width: 27px
      &:nth-child(3)
        bottom: 0


  @media (min-width: 992px)
    display: none



.h_top_row
  +flex
  +ai-center
  +wrap
  +j-beetween
  padding: 10px 0
  @media (max-width: 991px)
    padding: 5px 0
  .cart
    @media (min-width: 992px)
      display: none

  .history_orders, .currency
    @media (max-width: 991px)
      display: none



.h_bottom_row
  .m_right
    @media (max-width: 991px)
      display: none


.logo
  img
    @media (max-width: 991px)
      max-height: 60px

.pt_0
  padding-top: 0 !important

.tabs
  border-bottom: 1px solid #D5D8DC
  margin-right: -15px
  margin-left: -15px
  +flex
  +ai-center

  li
    color: #868686
    font-size: 16px
    font-family: $medium
    padding: 0 15px
    cursor: pointer
    &.act
      color: $text_black
      font-family: $semibold
      span
        position: relative
        display: inline-block
        padding: 15px 0
        &:before
          +b_a
          width: 100%
          height: 3px
          border-right: 2px
          background: $orange
          left: 0
          bottom: 0


.tabs_content
  .tabs_content_item
    display: none
    padding: 25px 0
    &.active
      display: block
.custom_form
  .field
    margin-bottom: 15px
  label
    color: #868686
    font-size: 16px
    font-family: $medium
    margin-bottom: 7px
    display: block
    @media (max-width: 991px)
      font-size: 14px
  input
    height: 50px
    @media (max-width: 991px)
      height: 40px


  .form_control
    width: 100%
    background: #F0F1F2
    border-radius: 4px
    border: 0
    padding: 0 20px
    font-family: $medium
    @media (max-width: 991px)
      padding: 0 10px
.mm_reg, .mm_auth
  .btn_default
    max-width: 100%
    margin-top: 25px
.btn_default
  width: 100%
  max-width: 205px
  height: 50px
  border-radius: 25px
  background: $orange
  border: 2px solid $orange
  color: #fff
  +flex
  +ai-center
  +j-center
  font-size: 16px
  font-family: $medium
  @media (max-width: 991px)
    height: 40px
    font-size: 14px
  &:hover, &:focus
    text-decoration: none
    background: #fff
    color: #333
  &.border
    background: none
    color: #333
    &:hover, &:focus
      background: $orange
      color: #fff
  &.departure
    border-radius: 30px
    border: 2px solid #fff
    height: 60px
    max-width: 250px
    @media (max-width: 991px)
      max-width: 240px
    @media (min-width: 992px)
      margin-right: 30px
    &:hover, &:focus
      &:hover, &:focus

        background: #fff
        span
          color: #333
        svg
          *
            fill: #333
    @media (max-width: 1200px)
      height: 50px
    span
      font-size: 14px
    picture
      display: inline-block
      margin-right: 15px

  &.arrival
    border-radius: 30px
    border: 2px solid #fff
    background: #fff
    height: 60px
    max-width: 250px
    @media (max-width: 991px)
      max-width: 240px
    &:hover, &:focus
      border: 2px solid  $orange
      background: $orange
      span
        color: #fff
      svg
        *
          fill: #fff
    @media (max-width: 1200px)
      height: 50px
    span
      font-size: 14px
      color: #333
    picture
      display: inline-block
      margin-right: 15px

  &.show_more
    max-width: 216px
    height: 54px
    +border-radius(27px)
    background: none
    border: 2px solid $orange
    color: #333
    margin: auto
    font-size: 14px
    &:hover, &:focus
      color: #fff
      background: $orange
      span
        &:before
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='15' viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7 14L7 1M7 14L1 8.15M7 14L13 8.15' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")
    span
      position: relative
      padding-right: 30px
      &:before
        +b_a
        right: 0
        top: 0
        bottom: 0
        margin: auto
        width: 14px
        height: 15px
        +transition($transition_default)
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='15' viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7 14L7 1M7 14L1 8.15M7 14L13 8.15' stroke='%23333333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")

  &.reset
    background: none
    border: 0
    color: #333
    span
      position: relative
      padding-right: 30px
      &:before
        +b_a
        right: 0
        top: 0
        bottom: 0
        margin: auto
        width: 16px
        height: 16px
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L15 15' stroke='%23898989' stroke-width='2' stroke-linecap='round'/%3e%3cpath d='M15 1L1 15' stroke='%23898989' stroke-width='2' stroke-linecap='round'/%3e%3c/svg%3e ")






.social_reg
  +flex
  +ai-center
  margin-bottom: 15px
  > span
    color: $text_grey
    font-family: $medium
    font-size: 14px
    margin-right: 25px
  .social_list
    +flex
    +ai-center
    li
      + li
        margin-left: 10px



.home
  header
    position: fixed
    width: 100%
    left: 0
    top: 0
    z-index: 99


.first_screen
  position: relative
  background: url(../img/home_banner.png) center
  background-size: cover
  width: 100%
  height: 100vh
  @media (max-width: 575px)
    background: url(../img/home_banner_mobile.png)
    background-size: cover

  .container
    height: 100%
    +flex
    +ai-end
    +j-center
    padding-bottom: 15.8%
    @media (max-width: 991px)
      +ai-center

    .first_screen_content
      .h1
        color: #fff
        font-size: 48px
        line-height: 1.2
        font-family: $semibold
        text-align: center
        margin-bottom: 50px

        @media (max-width: 1200px)
          font-size: 40px
        @media (max-width: 991px)
          font-size: 32px
          font-family: $bold
          line-height: 48px
          margin-bottom: 40px

      .btn_group
        +flex
        +j-center
        +ai-center
        +wrap
        @media (max-width: 991px)
          +col
          .btn_default
            margin-bottom: 25px



.box_title
  text-align: center
  color: #333
  font-size: 38px
  line-height: 1.2
  font-family: $semibold
  padding-top: 95px
  margin-bottom: 70px
  @media (max-width: 991px)
    font-size: 26px
    line-height: 40px
    padding-top: 62px
    margin-bottom: 50px

  span
    display: inline-block
    position: relative
    z-index: 1
    &:before
      +b_a
      right: -18px
      top: 4px
      background: $green
      +border-radius(24px 20px 24px 0px)
      width: 30px
      height: 30px
      z-index: -1

strong, b
  font-family: $semibold

.get_order
  overflow: hidden
  @media (max-width: 991px)
    background: url(../img/group467.png) no-repeat right bottom
  .container
    position: relative
    padding-bottom: 35px
    @media (max-width: 991px)
      padding-bottom: 25px
  .box_title
    margin-bottom: 110px
    z-index: 2
    @media (max-width: 991px)
      margin-bottom: 40px
  img
    position: absolute
    bottom: -33px
    right: 0
    @media (max-width: 991px)
      display: none
  .get_order_list
    z-index: 2
    position: relative
    +flex
    +wrap
    max-width: 50%
    @media (max-width: 991px)
      max-width: 100%

    .item
      width: 50%
      +flex
      +ai-center
      margin-bottom: 50px
      @media (max-width: 991px)
        width: 100%
        margin-bottom: 40px

      @media (max-width: 767px)
        width: 100%
      .count
        +flex
        +ai-center
        +j-center
        width: 48px
        height: 48px
        background: $green
        +border-radius(15px 0)
        color: #fff
        font-size: 24px
        font-family: $semibold
        margin-right: 25px
        @media (max-width: 1200px)
          margin-right: 20px
        @media (max-width: 991px)
          margin-right: 15px
          width: 40px
          +border-radius(24px 0)
      .text
        strong
          display: block
          font-size: 16px
          line-height: 22px
          margin-bottom: 5px
          @media (max-width: 991px)
            font-size: 18px

        span
          display: block
          color: $text_grey
          font-size: 14px
          font-family: $medium


.ai_center
  +flex
  +ai-center


.dishes
  background: #F8F8F8
  padding-bottom: 65px

.dishes_list
  +flex
  +wrap
  margin-right: -12px
  margin-left: -12px
  margin-bottom: 30px
  @media (max-width: 1200px)
    margin-bottom: 10px
  .dishes_list_item
    width: 25%
    padding-right: 12px
    padding-left: 12px
    @media (max-width: 1200px)
      width: 33.33%
      margin-bottom: 30px
    @media (max-width: 991px)
      width: 50%
    @media (max-width: 575px)
      width: 100%
    .dishes_list_item_content
      text-align: center
      .picture
        display: inline-block
        width: 100%
        height: 224px
        background-size: cover
        background-position: center
        +border-radius(16px)
        margin-bottom: 8px
      .dishes_name
        font-size: 18px
        line-height: 22px
        color: #333
        font-family: $semibold
        text-decoration: none
        margin-bottom: 8px
        &:hover, &:focus
          text-decoration: none

      .kitchen
        color: $text_grey
        font-size: 15px
        font-family: $medium





.dishes_slider
  .slick-arrow
    top: 110px
.slick-arrow
  background: #FFFFFF
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15)
  +border-radius(50%)
  width: 50px
  height: 50px
  z-index: 2
  &:hover, &:focus
    background: $orange
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15)
  &:before
    +b_a
    +m_a
    width: 11px
    height: 18px


.slick-prev
  left: -15px
  &:hover, &:focus
    &:before
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='18' viewBox='0 0 11 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9 2L2 9L9 16' stroke='%23fff' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")
  &:before
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='18' viewBox='0 0 11 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9 2L2 9L9 16' stroke='%23898989' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")

.slick-next
  right: -15px
  &:hover, &:focus
    &:before
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='18' viewBox='0 0 11 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2 16L9 9L2 2' stroke='%23fff' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")

  &:before
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='18' viewBox='0 0 11 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2 16L9 9L2 2' stroke='%23898989' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")


.slick-dots
  bottom: -60px
  li
    width: 12px
    height: 12px
    &.slick-active, &:hover
      button
        background: $orange
        border: 1px solid $orange
    button
      width: 12px
      height: 12px
      background: #EDEEF0
      border: 1px solid #D5D8DC
      +border-radius(50%)
      &:before
        display: none

footer
  border-top: 1px solid #D5D8DC
  background: #EDEEF0
  padding: 60px 0 50px
  @media (max-width: 991px)
    padding: 35px 0 30px
  .logo
    text-align: center
    margin-bottom: 40px
    @media (max-width: 991px)
      margin-bottom: 20px
    img
      @media (max-width: 991px)
        max-height: initial
  .f_row
    +flex
    +wrap
    @media (max-width: 991px)
      > div
        &.order_1
          order: 1
        &.order_2
          order: 2
          margin-bottom: 0
        &.order_3
          order: 3
          margin-bottom: 25px
        &.order_4
          order: 4
          margin-bottom: 10px
    .col_left
      width: 80%
      margin-bottom: 20px
      @media (max-width: 991px)
        width: 100%

    .col_right
      width: 20%
      text-align: right
      @media (max-width: 991px)
        width: 100%
        text-align: center
  a
    color: $green
    text-decoration: underline
    &:hover, &:focus
      text-decoration: none
      color: $orange
  p
    color: $text_grey
    font-size: 14px
    line-height: 20px
    @media (max-width: 991px)
      text-align: center
      margin: 0
  .f_menu
    +flex
    +wrap
    li
      @media (max-width: 991px)
        width: 100%
        text-align: center
        margin-bottom: 30px
        &:last-child
          margin-bottom: 0

      + li
        margin-left: 65px
        @media (max-width: 1200px)
          margin-left: 50px
        @media (max-width: 991px)
          margin-left: 0

      a
        color: #333
        font-size: 16px
        font-family: $medium
        text-decoration: none
        &:hover, &:focus
          text-decoration: none
          color: $orange


.breadcrumb
  +flex
  +ai-center
  +wrap
  @media (max-width: 991px)
    background: #fff
    margin-left: -15px
    margin-right: -15px
    border-bottom: 1px solid #D6D8DC
    padding: 8px 15px

  li
    padding: 0 17px
    position: relative

    &:first-child
      padding-left: 0
    &:last-child
      a
        color: $text_grey

    + li
      &:before
        +b_a
        left: -3px
        top: 0
        bottom: 0
        margin: auto
        width: 7px
        height: 12px
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6 1L1 6L6 11' stroke='%23333333' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")


    a
      color: #333
      font-size: 14px
      font-family: $medium
      &:hover, &:focus
        text-decoration: underline
        color: $orange

.page_content
  background: #F8F8F8
  padding: 20px 0 50px
  @media (max-width: 991px)
    padding-top: 0
.page_title
  margin-bottom: 50px
  margin-top: 0
  @media (max-width: 991px)
    margin-bottom: 30px
.page_row
  margin-left: -12px
  margin-right: -12px
  +flex
  +wrap
  padding-top: 50px
  @media (max-width: 991px)
    padding-top: 30px
  .sidebar
    padding-left: 12px
    padding-right: 12px
    width: 25%
    //background: #fff
    @media (max-width: 991px)
      width: 100%

  .content
    width: 75%
    padding-right: 12px
    padding-left: 12px
    @media (max-width: 991px)
      width: 100%


.subcats
  +flex
  +wrap
  margin-bottom: 40px
  @media (max-width: 991px)
    margin-bottom: 15px

  .subcats_item
    position: relative
    padding-left: 18px
    margin-bottom: 10px
    margin-right: 18px
    cursor: pointer
    @media (max-width: 991px)
      margin-right: 8px

    span
      display: inline-block
      background: #B4C322
      padding: 7px 19px
      color: #fff
      font-size: 16px
      font-family: $medium
      position: relative
      @media (max-width: 991px)
        font-size: 14px
        padding: 5px 10px
      &:before
        +b_a
        left: -18px
        top: 0
        bottom: 0
        margin: auto
        width: 0
        height: 0
        border-right: 18px solid #B4C322
        border-top: 18px solid transparent
        border-bottom: 18px solid transparent
        @media (max-width: 991px)
          border-right: 16px solid #B4C322
          border-top: 16px solid transparent
          border-bottom: 16px solid transparent
          left: -16px
      &:after
        +b_a
        left: -8px
        top: 0
        bottom: 0
        margin: auto
        width: 5px
        height: 5px
        background: #fff
        +border-radius(50%)
        @media (max-width: 991px)
          left: -6px

.products_list
  +flex
  +wrap
  margin-right: -12px
  margin-left: -12px
  margin-bottom: 65px
  @media (max-width: 1200px)
    margin-bottom: 40px
  .product_item
    width: 33.33%
    padding: 0 12px
    margin-bottom: 25px
    @media (max-width: 1200px)
      width: 50%
    @media (max-width: 575px)
      width: 100%
      margin-bottom: 0
      padding: 0
      border-bottom: 3px solid #F8F8F8
    .product_item_content
      background: #fff
      +border-radius(4px)
      padding: 20px
      height: 100%
      +flex
      +col
      +j-beetween
      @media (max-width: 575px)
        padding: 30px 15px
      .product_item_content_header
        margin-bottom: 28px
        @media (max-width: 575px)
          margin-bottom: 20px

      picture
        display: inline-block
        width: 100%
        height: 237px
        position: relative
        @media (max-width: 575px)
          height: 190px
        img
          position: absolute
          +m_a
          max-height: 98%
      .d_flex
        +flex
        +ai-center
        +j-beetween
        .add_wishlist, .price
          @media (min-width: 992px)
            display: none
        .price
          font-size: 14px
          font-family: $medium
      .product_name
        +flex
        +ai-center
        margin-bottom: 15px
        @media (max-width: 575px)
          margin-bottom: 8px

        a
          text-decoration: none
          font-size: 18px
          line-height: 22px
          font-family: $bold
          color: #333
          &:hover, &:focus
            text-decoration: none
            color: $orange
        .add_wishlist
          margin-left: 8px
          width: 19px

          height: 18px
          &:before
            width: 19px
            height: 18px
            background-size: cover

      .product_excerpt
        color: $text_grey
        font-size: 14px
        font-family: $medium
        line-height: 22px
        @media (max-width: 575px)
          font-size: 12px
          line-height: 17px

      .product_item_content_footer
        +flex
        +wrap
        .col
          +flex
          +col
          +ai-center
          &:first-child
            width: 60%
            @media (max-width: 991px)
              width: 100%

          &:last-child
            width: 40%
            @media (max-width: 991px)
              display: none
          .btn_group
            width: 100%
            @media (max-width: 991px)
              +flex
              +ai-center

            .btn_default
              &:last-child
                @media (max-width: 991px)
                  margin-left: 4px
              &:first-child
                @media (max-width: 991px)
                  margin-right: 4px

                @media (min-width: 992px)
                  margin-bottom: 20px

          .price
            height: 50px
            +flex
            +ai-center
            color: #333
            font-size: 18px
            font-family: $semibold
          .add_wishlist
            width: 50px
            height: 50px
            margin-bottom: 20px



.add_wishlist
  width: 26px
  height: 25px
  position: relative
  cursor: pointer
  &.act, &:hover
    &:before
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='26' height='25' viewBox='0 0 26 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M18.85 0C16.588 0 14.417 1.10354 13 2.84741C11.583 1.10354 9.412 0 7.15 0C3.146 0 0 3.297 0 7.49319C0 12.6431 4.42 16.8392 11.115 23.2153L13 25L14.885 23.2016C21.58 16.8392 26 12.6431 26 7.49319C26 3.297 22.854 0 18.85 0Z' fill='%23EDAC00'/%3e%3c/svg%3e ")
  &:before
    +b_a
    +m_a
    width: 26px
    height: 25px
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='26' height='25' viewBox='0 0 26 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M18.85 0C16.588 0 14.417 1.10354 13 2.84741C11.583 1.10354 9.412 0 7.15 0C3.146 0 0 3.297 0 7.49319C0 12.6431 4.42 16.8392 11.115 23.2153L13 25L14.885 23.2016C21.58 16.8392 26 12.6431 26 7.49319C26 3.297 22.854 0 18.85 0ZM13.13 21.1853L13 21.3215L12.87 21.1853C6.682 15.3133 2.6 11.4305 2.6 7.49319C2.6 4.76839 4.55 2.7248 7.15 2.7248C9.152 2.7248 11.102 4.07357 11.791 5.94005H14.222C14.898 4.07357 16.848 2.7248 18.85 2.7248C21.45 2.7248 23.4 4.76839 23.4 7.49319C23.4 11.4305 19.318 15.3133 13.13 21.1853Z' fill='%23EDAC00'/%3e%3c/svg%3e ")




.pagination
  +flex
  +j-center
  .nav
    +flex
    +ai-center
    +j-center
    li
      padding: 0 4px
      a
        width: 40px
        height: 40px
        +flex
        +ai-center
        +j-center
        color: $text_grey
        font-size: 18px
        font-family: $medium
        +border-radius(50%)
        @media (max-width: 575px)
          width: 35px
          height: 35px
        &.active
          background: $orange
          color: #fff
          &:hover, &:focus
            color: #fff
        &:hover
          text-decoration: none
          color: $orange
        &.page_prev, &.page_next
          position: relative
          &:before
            +b_a
            +m_a
            width: 22px
            height: 16px



        &.page_prev
          margin-right: 6px
          &:before
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='22' height='16' viewBox='0 0 22 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 8H21M1 8L8 1M1 8L8 15' stroke='%23898989' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")

        &.page_next
          margin-left: 6px
          &:before
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='22' height='16' viewBox='0 0 22 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M21 8L0.999999 8M21 8L14 15M21 8L14 0.999999' stroke='%23898989' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")



.page_desc
  .desc
    color: $text_grey
    font-size: 16px
    line-height: 30px
    font-family: $medium
    @media (max-width: 575px)
      font-size: 14px
      line-height: 26px


.sidebar_content
  background: #fff
  +border-radius(4px)
  .filter
    @media (max-width: 991px)
      position: fixed
      top: 0
      left: 0
      width: 100%
      height: 100%
      z-index: 999
      background: #fff
      +transition($transition_default)
      +transform(translateX(100%))
      opacity: 0
      &.show
        opacity: 1
        +transform(translateX(0))

    .filter_mobile_header
      background: #B4C322
      height: 52px
      width: 100%
      +flex
      +ai-center
      +j-beetween
      padding: 0 15px
      @media (min-width: 992px)
        display: none
      .flex
        +flex
        +ai-center
      .close_filter
        width: 30px
        height: 30px
        position: relative
        margin-right: 5px
        cursor: pointer
        &:before
          width: 16px
          height: 16px
          +b_a
          +m_a
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L15 15' stroke='%23E4F1CE' stroke-width='2' stroke-linecap='round'/%3e%3cpath d='M15 1L1 15' stroke='%23E4F1CE' stroke-width='2' stroke-linecap='round'/%3e%3c/svg%3e ")
      .filter_mobile_title
        color: #fff
        font-size: 18px
        font-family: $semibold
      .btn_reset
        color: #fff
        background: none
        padding: 0
        font-size: 14px
        font-family: $medium
        border: 0
        border-bottom: 1px solid #fff
        line-height: 1.2


    .filter_body
      height: calc(100% - 52px)
      overflow: auto
      padding-bottom: 55px
      position: absolute
      top: 52px
      width: 100%
      .filter_item
        border-bottom: 3px solid  #F8F8F8
        padding: 35px 25px
        @media (max-width: 991px)
          padding: 30px 15px
          &:last-child
            padding: 0
        &.act
          .filter_item_body
            display: block
          .filter_item_title
            &:before
              +transform(rotate(180deg))
        .filter_item_title
          position: relative
          color: #333
          font-size: 16px
          text-transform: uppercase
          font-family: $bold
          padding-left: 30px
          cursor: pointer
          @media (max-width: 991px)
            padding-left: 0

          &:before
            +b_a
            left: 0
            top: 0
            bottom: 0
            margin: auto
            width: 17px
            height: 10px
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='10' viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.98868 2.02392L8.5107 7.99998L14.9886 1.97612' stroke='%23EDAC00' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")
            @media (max-width: 991px)
              display: none

        .filter_item_body
          padding-top: 20px

          display: none
          @media (max-width: 991px)
            display: block
          ul
            li
              margin-bottom: 15px
              &:last-child
                margin-bottom: 0
              a
                color: #333
                font-family: $medium
                font-size: 15px
                text-decoration: none
                &:hover
                  color: $orange
        .btn_group

          .btn_default
            margin: auto
            &.reset
              display: none
            &.btn_fixed
              @media (max-width: 991px)
                position: fixed
                bottom: 0
                left: 0
                max-width: 100%
                height: 55px
                z-index: 9
                +border-radius(0)
                margin-bottom: 0
            &:first-child
              @media (min-width: 992px)
                margin-bottom: 5px



.checkbox_list
  .item
    margin-bottom: 15px
    &:last-child
      margin-bottom: 0


.custom_checkbox
  input
    position: absolute
    opacity: 0
    &:checked
      + label
        &:before
          border: 0
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M16 0H2C0.89 0 0 0.9 0 2V16C0 17.1 0.89 18 2 18H16C17.11 18 18 17.1 18 16V2C18 0.9 17.11 0 16 0ZM7 14L2 9L3.41 7.59L7 11.17L14.59 3.58L16 5L7 14Z' fill='%23EDAC00'/%3e%3c/svg%3e ")
    + label
      color: #333
      font-family: $medium
      font-size: 15px
      position: relative
      padding-left: 30px
      &:before
        +b_a
        border: 2px solid #D5D8DC
        width: 18px
        height: 18px
        left: 0
        top: 0
        bottom: 0
        margin: auto
        +border-radius(2px)


.text_right
  text-align: right
.show_filter
  width: 27px
  height: 30px
  display: inline-block
  position: relative
  margin-bottom: 30px
  cursor: pointer
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='27' height='30' viewBox='0 0 27 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 15H27' stroke='%23898989' stroke-width='2'/%3e%3cpath d='M23 15.5C23 16.8807 21.8807 18 20.5 18C19.1193 18 18 16.8807 18 15.5C18 14.1193 19.1193 13 20.5 13C21.8807 13 23 14.1193 23 15.5Z' fill='white' stroke='%23898989' stroke-width='2'/%3e%3cpath d='M0 3.5H27' stroke='%23898989' stroke-width='2'/%3e%3cpath d='M0 26.5H27' stroke='%23898989' stroke-width='2'/%3e%3cpath d='M11 3.5C11 4.88071 9.88071 6 8.5 6C7.11929 6 6 4.88071 6 3.5C6 2.11929 7.11929 1 8.5 1C9.88071 1 11 2.11929 11 3.5Z' fill='white' stroke='%23898989' stroke-width='2'/%3e%3cpath d='M14 26.5C14 27.8807 12.8807 29 11.5 29C10.1193 29 9 27.8807 9 26.5C9 25.1193 10.1193 24 11.5 24C12.8807 24 14 25.1193 14 26.5Z' fill='white' stroke='%23898989' stroke-width='2'/%3e%3c/svg%3e ")
  &.act
    &:before
      +b_a
      width: 10px
      height: 10px
      background: $orange
      +border-radius(50%)
      top: -3px
      right: -1px
  @media (min-width: 992px)
    display: none


.no_scroll
  overflow: hidden
