<!DOCTYPE html>
html
    head
        - var page = { title: 'Модальное окно' }
        include inc/head.pug
    body
        include inc/header.pug
        include inc/modal/content.pug
        include inc/footer.pug
        include inc/scripts.pug