<!DOCTYPE html>
html
    head
        - var page = { title: 'Любимое' }
        include inc/head.pug
    body
        include inc/header.pug
        include inc/wish/content.pug
        include inc/footer.pug
        include inc/scripts.pug