-var f_menu=['Договор публичной оферты','Политика конфиденциальности','Помощь','Пожелания'];



footer
    .container
        .logo
            a(href="#")
                img(src="img/f_logo.png")

        .f_row
            .col_left.order_1
                ul.f_menu
                    for f_menu_item, index in f_menu
                        li
                            a(href="#")=f_menu_item
            .col_right.order_4
                a(href="#") Все права защищены.
            .col_left.order_2
                p Строки копирайта. Строки. <br>Строки копирайта. Строки копирайта.
            .col_right.order_3
                p © 2020 ООО Глобал Прайм