.first_screen
    .container
        .first_screen_content
            .h1 Доставка еды Prime Time
            .btn_group
                a.btn_default.departure(href="#")
                    picture
                        <svg width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.650889 15.0493H19.3886V17H0.650889V15.0493ZM19.9507 5.92025C19.7436 5.13999 18.9251 4.67183 18.1361 4.8864L12.8994 6.27137L6.09468 0L4.19133 0.497418L8.27417 7.49053L3.37279 8.78772L1.42998 7.28571L0 7.66609L2.55424 12.0453C2.55424 12.0453 9.57595 10.1922 18.8955 7.72461C19.6943 7.50029 20.1578 6.70052 19.9507 5.92025Z" fill="white"/>
                        </svg>

                    span Заказать при вылете
                a.btn_default.arrival(href="#")
                    picture
                        <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 17H19V19H0V17ZM16.84 13.85C17.64 14.06 18.46 13.59 18.68 12.79C18.89 11.99 18.42 11.17 17.62 10.95L12.31 9.53L9.55 0.51L7.62 0V8.28L2.65 6.95L1.72 4.63L0.27 4.24V9.41L16.84 13.85Z" fill="#333333"/>
                        </svg>

                    span Заказать при прилете

-var order=['Выбрать блюда','Оформить заказ','Оплатить','Получить заказ']
-var order2=['Ресторанные блюда','На нашем сайте','Картой или за мили','Приятного аппетита!']
.get_order
    .container
        .box_title
            span Как получить заказ

        .get_order_list
            for order_item, index in order
                .item
                    .count=index+1
                    .text
                        strong=order_item
                        span=order2[index]

        img(src="img/group97.png")


.dishes
    .container
        .box_title
            span Готовим вкусную еду
        .dishes_list
            -for(var d=1;d<=4;d++)
                .dishes_list_item
                    .dishes_list_item_content
                        .picture(style="background-image:url(img/image20.png)")
                        .dishes_name Название блюда
                        .kitchen Кухня азиатская

        .text_center
            a.btn_default.show_more(href="#")
                span Показать еще


